extends layout
block content
  #startistform(style="text-align: center;")
    h1(style="text-align: center;") I am a:
    a(href="coaches")
      button(class="mw-ui-button mw-ui-progressive mw-ui-big" style="display: inline; margin: 10px;") Coach
    a(href="students")
      button(class="mw-ui-button mw-ui-progressive mw-ui-big" style="display: inline; margin: 10px;") Student
    // h1= title
    // p Welcome to #{title}