doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/mw.ui.css")
    link(rel="stylesheet" href="/stylesheets/startist.css")
  body
    block content
